includes:
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/shipmonk/phpstan-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	level: 10
	shipmonkRules:
		forbidCheckedExceptionInCallable:
			enabled: false
	paths:
		- packages
	excludePaths:
		- **/temp/**
		- **/log/**
